<!DOCTYPE html>
<html>
<head><title>CRUD</title></head>
<body>
  <h1>Create User</h1>
  <form method="POST" action="/crud-user">
    <input name="firstName" placeholder="First name" required />
    <input name="lastName" placeholder="Last name" required />
    <input name="email" type="email" placeholder="Email" required />
    <input name="address" placeholder="Address" />
    <button type="submit">Create</button>
  </form>
  <p><a href="/users">View all users</a></p>
</body>
</html>
